.main {
  overflow-y: auto;
  &__wrapper {
    padding: 6.4rem 2.4rem 2.4rem;
    max-width: 160rem;
    margin: 0 auto;

    &--dashboard {
      padding: 2.4rem;
    }
  }

  & > * + * {
    margin-top: 2.4rem;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 2.4rem;

    h2 {
      flex: 1;
      flex-basis: 20rem;
    }
  }

  &__controls {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 2rem;
  }

  &__grid {
    display: grid;
    gap: 3.2rem;
  }

  &__grid-cell {
    &--align-top {
      align-self: start;
    }
  }

  @media screen and (min-width: 50em) {
    &__grid {
      &--3 {
        grid-template-columns: repeat(12, 1fr);
        & .main__grid-cell {
          &--small {
            grid-column: span 6;
          }
          &--medium {
            grid-column: span 8;
          }
          &--account {
            grid-column: span 12;
          }
          &--full {
            grid-column: span 12;
          }
        }
      }
      &--4 {
        grid-template-columns: repeat(12, 1fr);
        & > .main__grid-cell {
          &--small {
            grid-column: span 6;
          }
          &--medium {
            grid-column: span 12;
          }
          &--large {
            grid-column: span 12;
          }
          &--full {
            grid-column: span 12;
          }
        }
      }
    }
  }

  @media screen and (min-width: 92em) {
    &__grid {
      &--3 {
        grid-template-columns: repeat(12, 1fr);
        & .main__grid-cell {
          &--small {
            grid-column: span 4;
          }

          &--medium {
            grid-column: span 8;
          }
          &--full {
            grid-column: span 12;
          }
        }
      }
      &--4 {
        grid-template-columns: repeat(12, 1fr);
        & > .main__grid-cell {
          &--small {
            grid-column: span 3;
          }
          &--medium {
            grid-column: span 6;
          }
          &--large {
            grid-column: span 9;
          }
          &--full {
            grid-column: span 12;
          }
        }
      }
    }
  }
}
