  <div class="card__body chart chart--height-7 chart--week">
    <div class="chart__row chart__row--7"></div>
    <div class="chart__row chart__row--6"></div>
    <div class="chart__row chart__row--5"></div>
    <div class="chart__row chart__row--4"></div>
    <div class="chart__row chart__row--3"></div>
    <div class="chart__row chart__row--2"></div>
    <div class="chart__row chart__row--1"></div>
    <div class="chart__column chart__column--1">
      <div class="chart__bar chart__bar--17 chart__bar--primary"></div>
      <div class="chart__bar chart__bar--11 chart__bar--secondary"></div>
      <div class="chart__date">1 Dec</div>
    </div>
    <div class="chart__column chart__column--2">
      <div class="chart__bar chart__bar--5 chart__bar--primary"></div>
      <div class="chart__bar chart__bar--19 chart__bar--secondary"></div>
      <div class="chart__date">2 Dec</div>
    </div>
    <div class="chart__column chart__column--3">
      <div class="chart__bar chart__bar--18 chart__bar--primary"></div>
      <div class="chart__bar chart__bar--12 chart__bar--secondary"></div>
      <div class="chart__date">3 Dec</div>
    </div>
    <div class="chart__column chart__column--4">
      <div class="chart__bar chart__bar--26 chart__bar--primary"></div>
      <div class="chart__bar chart__bar--28 chart__bar--secondary"></div>
      <div class="chart__date">4 Dec</div>
    </div>
    <div class="chart__column chart__column--5">
      <div class="chart__bar chart__bar--27 chart__bar--primary"></div>
      <div class="chart__bar chart__bar--28 chart__bar--secondary"></div>
      <div class="chart__date">5 Dec</div>
    </div>
    <div class="chart__column chart__column--6">
      <div class="chart__bar chart__bar--18 chart__bar--primary"></div>
      <div class="chart__bar chart__bar--24 chart__bar--secondary"></div>
      <div class="chart__date">6 Dec</div>
    </div>
    <div class="chart__column chart__column--7">
      <div class="chart__bar chart__bar--18 chart__bar--primary"></div>
      <div class="chart__bar chart__bar--13 chart__bar--secondary"></div>
      <div class="chart__date">7 Dec</div>
    </div>
  </div>