<header class="header page__header">
  <button class="header__search">
    <svg
      preserveAspectRatio="xMinYMin meet"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use href="/images/icons.svg#search"></use>
    </svg>
  </button>

  <nav class="header__nav">
    <a href="./customers.html">
      <svg
        preserveAspectRatio="xMinYMin meet"
        viewBox="0 0 22 22"
        xmlns="http://www.w3.org/2000/svg"
      >
        <use href="/images/icons.svg#customers"></use>
      </svg>
    </a>

    <a href="#">
      <svg
        preserveAspectRatio="xMinYMin meet"
        viewBox="0 0 22 22"
        xmlns="http://www.w3.org/2000/svg"
      >
        <use href="/images/icons.svg#notification"></use>
      </svg>
    </a>
    <a href="./account.html">
      <img
        class="header__avatar"
        src="/images/Avatar.jpg"
        alt="profile"
      />
    </a>
  </nav>
</header>
