html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  color: #252c32;
  font-family: Inter, sans-serif;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

label {
  background-color: #fff;
}
