.error {
  width: 95vw;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  text-align: center;
  min-height: 100vh;

  &__heading {
    max-width: 80rem;
    margin: 0 auto;
    font-size: 4rem;
    font-weight: 700;
  }
  &__description {
    padding: 2rem 0;
    font-weight: 500;
    font-size: $fz-m;
  }
  &__img {
    max-width: 70rem;
    width: 95vw;
    margin: 0 auto;
  }
  &__button {
    margin-top: 3rem;
  }
}
