$info: #2196f3;
$error: #d14343;
$reserved-primary: #5048e5;
$main-primary: #fff;
$main-secondary: #10b981;
$neutral-light: #9ca3af;
$neutral-dark: #111827;
$text-primary: #111827;
$text-secondary: #6b7280;
$transparent: #ffffff00;
$light: #e6e8f0;
$lightest: #f3f4f6;

$fz-s: 1.2rem;
$fz-m: 1.4rem;
$fz-l: 1.6rem;
$fz-xl: 1.8rem;

$duration: 0.2s;

$border-radius: 0.8rem;

$sidebar-mobule-width: 7.6rem;
$sidebar-desktop-width: 28rem;
$header-height: 6.4rem;
