.footer {
  font-size: $fz-m;
  padding: 0.8rem 0 2.4rem;
  border-top: 0.1rem solid #e6e8f0;
  margin: 2.4rem auto 0;
  max-width: 150rem;
  width: 95%;

  & > * + * {
    margin-top: 0.8rem;
  }

  a {
    text-decoration: underline;
  }

  &__text {
    &--secondary {
      color: $text-secondary;
    }
  }
}
