.header {
  padding: 1.2rem 2.4rem;
  background-color: $main-primary;
  box-shadow: 0px 2px 4px rgba(31, 41, 55, 0.06), 0px 4px 6px rgba(100, 116, 139, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__search {
    @include reset-button;
    @include icon(4rem, 4rem, $text-secondary);
    padding: 1rem;
  }
  
  &__nav {
    display: flex;
    & > * + * {
      margin-left: 1.6rem;
    }
    
    a {
      @include icon(4rem, 4rem, $text-secondary);
      padding: 0.9rem;

      &:last-of-type {
        padding: 0;
      }
    }
  }
}