.product {
  text-align: center;
  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 4rem;
    }

    h3 {
      font-weight: 600;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
      font-size: $fz-m;
      color: $text-secondary;
      display: flex;
      align-items: center;

      @media screen and (max-width: 55em) {
        font-size: $fz-s;
      }

      svg {
        fill: $text-secondary;
        max-width: 2rem;
        margin-right: 0.5rem;
      }
    }
  }
}
